* {
  margin: 0px;
}
.allback {
  display: flex;
  flex-wrap: wrap;
  background-color: #212930;
  padding: 0;
  margin: 0;
}

.topmenubar {
  width: 100%;
  height: 6%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: #868f98;
  padding: 10px 10px;
  z-index: 5;
}

@media (max-width: 678px) {
  .topmenubar {
    position: relative;
    text-indent: -10000px;
  }
  #text {
    display: none;
  }
  #topleft {
    position: absolute;
    left: 90%;
  }
  #midline {
    display: none;
  }
  #glass {
    left: 7%;
  }
  #line {
    left: 1%;
  }
  #logo {
    left: 0%;
    top: 0px;
  }
  #topright {
    position: relative;
    right: 10%;
  }
  #art {
    position: relative;
  }
  #cart {
    position: relative;
  }
  #cd {
    display: none;
  }
  #paper {
    display: none;
  }
  #global {
    display: none;
  }
}

.topleft {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  min-width: 200px;
  overflow: hidden;
}
.midline {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 12px;
  border: 1px solid lightslategrey;
  width: 0px;
  height: 15px;
}
.topleft img {
  position: relative;
  left: 19px;
  height: 20px;
  min-height: 20px;
  object-fit: cover;
}
#logo {
  display: flex;
  position: relative;
}
#logo img {
  position: relative;
  width: 60%;
}
.topright {
  display: flex;
  height: 50%;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  margin-right: 24px;
  gap: 11px;
  font-size: 10px;
}
.topright img {
  height: 21px;
  min-height: 21px;
}

input[id="line"] {
  display: none;
}
input[id="line"] + label {
  display: block;
  width: 30px;
  height: 20px;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: auto;
  cursor: pointer;
}
input[id="line"] + label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  background-color: bisque;
  transition: all 0.35s;
}
input[id="line"] + label span:nth-child(1) {
  top: 0;
}
input[id="line"] + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
input[id="line"] + label span:nth-child(3) {
  bottom: 0;
}

input[id="line"]:checked + label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
input[id="line"]:checked + label span:nth-child(2) {
  opacity: 0;
}
input[id="line"]:checked + label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

#sl11 {
  display: flex;
  width: 900px;
  height: 350px;
}
#sl12 {
  display: flex;
  width: 900px;
  height: 350px;
}
#sl13 {
  display: flex;
  width: 900px;
  height: 350px;
}
.controls {
  position: absolute;
  text-align: center;
  margin-top: 50px;
}
.prev {
  display: flex;
  position: absolute;
  border: none;
  background: none;
  margin-top: 200px;
  margin-left: 120px;
  z-index: 4;
}
.next {
  display: flex;
  position: absolute;
  border: none;
  background: none;
  margin-top: 200px;
  margin-left: 1300px;
  z-index: 4;
}
.slide_wrapper {
  position: relative;
  margin-left: 20%;
  margin-top: 6%;
  width: 900px;
  height: 350px;
  overflow: hidden;
}
.slides {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}
.slides,
.animated {
  transition: 0.5s ease-out;
}
.nextBtn {
  display: inline-block;
  position: absolute;
  z-index: 2;
  height: 16px;

  border: none;
  background: none;

  padding: 0;
  margin-top: 2%;
  margin-left: 8%;

  cursor: pointer;
}
.prevBtn {
  display: inline-block;
  position: absolute;
  z-index: 2;
  height: 16px;
  width: 5%;
  border: none;
  background: none;
  padding: 0;
  margin-top: 2%;
  margin-left: 8%;
  width: 5%;
  cursor: pointer;
}
.la {
  position: absolute;
  margin-top: 92px;
  width: 40px;
  z-index: 3;
}
.ra {
  position: absolute;
  width: 40px;
  margin-top: 92px;
  left: 1050px;
  z-index: 3;
}
.slides li {
  display: flex;
  width: 100%;
  list-style: none;
}

.slides li {
  margin-right: 30px;
}

#itbx {
  display: flex;
  overflow: hidden;
}
section .box:nth-child(2n) {
  background: #212930;
}

.item1 {
  display: inline-block;
  overflow: hidden;
  margin-top: 25px;
  width: 300px;
}

#item1var {
  width: 50%;
  border: 3px solid blueviolet;
  background-color: blueviolet;
}

.item1:hover #item1var {
  animation-name: item1Bar;
  animation-duration: 3s;
}

@keyframes item1Bar {
  0% {
    width: 70%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}

#item1p {
  display: flex;
  overflow: hidden;
  width: 97%;
}
#itemAl {
  font-size: 22px;
  color: blueviolet;
}
#itemtext {
  display: flex;
  font-size: 26px;
  font-style: italic;
}
.play {
  display: inline-block;
  position: absolute;
  z-index: 2;
  width: 10%;
  height: 16px;
  border: none;
  background: none;
  padding: 0;
  margin-top: 2%;
  margin-left: 4%;
  cursor: pointer;
}

.play #imgBt {
  width: 50%;
}
.play #imgBt2 {
  width: 50%;
}
.play #imgBt4 {
  width: 50%;
}
.play #imgBt5 {
  width: 50%;
}
.play #imgBt7 {
  width: 50%;
}
.item2 {
  display: block;
  overflow: hidden;
  width: 300px;
  margin-top: 25px;
}
.item2:hover #item2var {
  animation-name: item1Bar;
  animation-duration: 3s;
}

@keyframes item2Bar {
  0% {
    width: 70%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}

#item2var {
  width: 70%;
  border: 3px solid lawngreen;
  background-color: lawngreen;
}
#item2v {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140%;
}
#item2p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#item2Al {
  font-size: 22px;
  color: lawngreen;
}
#item2text {
  display: flex;
  font-size: 26px;
  font-style: italic;
}

.item2 {
  display: block;
  overflow: hidden;
  width: 300px;
  margin-top: 25px;
}
.item2:hover #item2var {
  animation-name: item1Bar;
  animation-duration: 3s;
}

@keyframes item2Bar {
  0% {
    width: 70%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}

.item4 {
  display: block;
  overflow: hidden;
  width: 300px;
  margin-top: 25px;
}
.item4:hover #item4var {
  animation-name: item4Bar;
  animation-duration: 3s;
}

@keyframes item4Bar {
  0% {
    width: 70%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}

#item4var {
  width: 70%;
  border: 3px solid lawngreen;
  background-color: lawngreen;
}
#item4v {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140%;
}
#item4p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#item4Al {
  font-size: 22px;
  color: lawngreen;
}
#item4text {
  display: flex;
  font-size: 26px;
  font-style: italic;
}

.item5 {
  display: block;
  overflow: hidden;
  width: 300px;
  margin-top: 25px;
}
.item5:hover #item5var {
  animation-name: item5Bar;
  animation-duration: 3s;
}

@keyframes item5Bar {
  0% {
    width: 70%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}
#item5var {
  width: 70%;
  border: 3px solid lawngreen;
  background-color: lawngreen;
}

#item5v {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140%;
}
#item5p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#item5Al {
  font-size: 22px;
  color: lawngreen;
}
#item5text {
  display: flex;
  font-size: 26px;
  font-style: italic;
}

.item7 {
  display: block;
  overflow: hidden;
  width: 300px;
  margin-top: 25px;
}
#item7var {
  width: 70%;
  border: 2px solid lawngreen;
  background-color: lawngreen;
}
.item7:hover #item7var {
  animation-name: item7Bar;
  animation-duration: 3s;
}

@keyframes item7Bar {
  0% {
    width: 70%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}

#item7v {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110%;
}
#item7p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#item7Al {
  font-size: 22px;
  color: lawngreen;
}
#item7text {
  display: flex;
  font-size: 26px;
  font-style: italic;
}
