* {
  margin: 0px;
}
.allback {
  display: flex;
  flex-wrap: wrap;
  background-color: #212930;
  padding: 0;
  margin: 0;
}
/*        해드          */
.topmenubar {
  width: 100%;
  height: 6%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: #868f98;
  padding: 10px 10px;
  z-index: 5;
}

@media (max-width: 678px) {
  .topmenubar {
    position: relative;
    text-indent: -10000px;
  }
  #text {
    display: none;
  }
  #topleft {
    position: absolute;
    left: 90%;
  }
  #midline {
    display: none;
  }
  #glass {
    left: 7%;
  }
  #line {
    left: 1%;
  }
  #logo {
    left: 0%;
    top: 0px;
  }
  #topright {
    position: relative;
    right: 10%;
  }
  #art {
    position: relative;
  }
  #cart {
    position: relative;
  }
  #cd {
    display: none;
  }
  #paper {
    display: none;
  }
  #global {
    display: none;
  }
}

.topleft {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  min-width: 200px;
  overflow: hidden;
}
.topleft img {
  position: relative;
  left: 19px;
  height: 20px;
  min-height: 20px;
  object-fit: cover;
}
#logo {
  display: flex;
  position: relative;
}
#logo img {
  position: relative;
  width: 60%;
}
.topright {
  display: flex;
  height: 50%;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  margin-right: 24px;
  gap: 11px;
  font-size: 10px;
}
.topright img {
  /* position: relative; */
  height: 21px;
  min-height: 21px;
}
input[id="line"] {
  display: none;
}
input[id="line"] + label {
  display: block;
  width: 30px;
  height: 20px;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: auto;
  cursor: pointer;
}
input[id="line"] + label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  background-color: bisque;
  transition: all 0.35s;
}
input[id="line"] + label span:nth-child(1) {
  top: 0;
}
input[id="line"] + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
input[id="line"] + label span:nth-child(3) {
  bottom: 0;
}

input[id="line"]:checked + label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
input[id="line"]:checked + label span:nth-child(2) {
  opacity: 0;
}
input[id="line"]:checked + label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

/* .line1 {
  display: block;
  position: absolute;
  width: 10%;
  height: 0px;
  border: 1px solid black;
  background-color: black;
  margin-bottom: 4px;
}
.line2 {
  position: relative;
  width: 10px;
  height: 0px;
  border: 1px solid black;
  background-color: black;
  margin-bottom: 5px;
}
.line3 {
  position: relative;
  width: 13px;
  height: 0px;
  border: 1px solid black;
  background-color: black;
} */

.midline {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 12px;
  border: 1px solid lightslategrey;
  width: 0px;
  height: 15px;
}

/*        바디  사진,동영상        */

/* #bodymain {
  display: flex;
  width: 100%;
  /* margin-top: 5.8%; */
/* flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
 */
/* } */
.play {
  display: inline-block;
  position: absolute;
  z-index: 2;

  width: 10%;
  height: 16px;

  border: none;
  background: none;

  padding: 0;
  margin-top: 2%;
  margin-left: 8%;

  cursor: pointer;
}

.play #imgBt {
  width: 100%;
}
/*  슬라이드  */
.section input[id*="slide"] {
  display: none;
}
.section {
  width: 100%;
  margin-top: 10%;
}
.section .slidewrap {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}
.section .slidelist {
  white-space: nowrap;
  font-size: 0;
}
.section .slidelist > li {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all 0.2s;
}
.section .slidelist > li > a {
  display: block;
  position: relative;
}
.section .slidelist > li > a img {
  width: 45%;
}
.section .slidelist > li > a video {
  width: 54%;
}

.section .slidelist label {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-60%);
  padding: 50px;
  cursor: pointer;
}
.section .slidelist .left {
  left: 3px;
  background: url(lrarrow.png) center center / 50% no-repeat;
}
.section .slidelist .right {
  right: 3px;
  background: url(rarrow.png) center center / 50% no-repeat;
}
.section [id="slide01"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(0%);
}
.section [id="slide02"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-100%);
}
.section [id="slide03"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-200%);
}

#bodympim {
  display: flex;
  justify-content: center;
  justify-items: center;
}
#bodymm {
  display: flex;
  width: 100%;
}

/*        바디   엘범,사진,티켓       */

.container {
  display: grid;
  position: relative;
  width: 100%;

  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: dense;
  align-items: top;
  overflow: hidden;
}
/* item1 */
.item1 {
  display: inline-block;
  overflow: hidden;
  margin-top: 10%;
}

#item1var {
  width: 70%;
  border: 3px solid blueviolet;
  background-color: blueviolet;
}

.item1:hover #item1var {
  animation-name: item1Bar;
  animation-duration: 3s;
}

@keyframes item1Bar {
  0% {
    width: 70%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}

#item1v {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
}

#item1p {
  display: flex;
  overflow: hidden;
  /* justify-content: center;
  align-items: center; */
  width: 100%;
}
#itemAl {
  font-size: 22px;
  color: blueviolet;
}
#itemtext {
  display: flex;
  font-size: 26px;
  font-style: italic;
}
/*  item2*/
.item2 {
  display: block;
  overflow: hidden;
  margin-top: 10%;
}
.item2:hover #item2var {
  animation-name: item1Bar;
  animation-duration: 3s;
}

@keyframes item2Bar {
  0% {
    width: 70%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}

#item2var {
  width: 70%;

  border: 3px solid lawngreen;
  background-color: lawngreen;
}
#item2v {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140%;
}
#item2p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#item2Al {
  font-size: 22px;
  color: red;
}
#item2text {
  display: flex;
  font-size: 26px;
  font-style: italic;
}
/* item3  */
.item3 {
  display: block;
  margin-top: 10%;
  overflow: hidden;
}
.item3:hover #item3var {
  animation-name: item3Bar;
  animation-duration: 3s;
}

@keyframes item3Bar {
  0% {
    width: 70%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}

#item3var {
  width: 70%;
  border: 3px solid lightseagreen;
  background-color: lightseagreen;
}
#item3v {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140%;
}
#item3p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#item3Al {
  font-size: 22px;
  color: lightseagreen;
}
#item3text {
  display: flex;
  font-size: 26px;
  font-style: italic;
}
/* item4 */
.item4 {
  display: block;
  margin-top: 10%;
  overflow: hidden;
}
.item4:hover #item4var {
  animation-name: item4Bar;
  animation-duration: 3s;
}

@keyframes item4Bar {
  0% {
    width: 70%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}

#item4var {
  width: 70%;
  border: 3px solid red;
  background-color: red;
}
#item4v {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140%;
}
#item4p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#item4Al {
  font-size: 22px;
  color: red;
}
#item4text {
  display: flex;
  font-size: 26px;
  font-style: italic;
}
/* item5 */
.item5 {
  display: block;
  overflow: hidden;
  margin-top: 15%;
}
.item5:hover #item5var {
  animation-name: item5Bar;
  animation-duration: 3s;
}

@keyframes item5Bar {
  0% {
    width: 70%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}
#item5var {
  width: 70%;
  border: 3px solid red;
  background-color: red;
}

#item5v {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140%;
}
#item5p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#item5Al {
  font-size: 22px;
  color: red;
}
#item5text {
  display: flex;
  font-size: 26px;
  font-style: italic;
}
/* item6 */
.item6 {
  display: block;
  overflow: hidden;
  margin-top: 15%;
}
#item6var {
  width: 70%;
  border: 3px solid lightblue;
  background-color: lightblue;
}
.item6:hover #item6var {
  animation-name: item6Bar;
  animation-duration: 3s;
}

@keyframes item6Bar {
  0% {
    width: 70%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}

#item6v {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140%;
}
#item6p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110%;
}
#item6Al {
  font-size: 22px;
  color: lightblue;
}
#item6text {
  display: flex;
  font-size: 26px;
  font-style: italic;
}
/* item7 */
.item7 {
  display: block;
  margin-top: -5%;
  overflow: hidden;
}
#item7var {
  width: 70%;
  border: 2px solid red;
  background-color: red;
}
.item7:hover #item7var {
  animation-name: item7Bar;
  animation-duration: 3s;
}

@keyframes item7Bar {
  0% {
    width: 70%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}

#item7v {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110%;
}
#item7p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#item7Al {
  font-size: 22px;
  color: red;
}
#item7text {
  display: flex;
  font-size: 26px;
  font-style: italic;
}
/* item8 */
.item8 {
  display: block;
  overflow: hidden;
  margin-top: 10%;
}
#item8var {
  width: 70%;
  border: 3px solid red;
  background-color: red;
}
.item8:hover #item8var {
  animation-name: item8Bar;
  animation-duration: 3s;
}

@keyframes item8Bar {
  0% {
    width: 70%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}

#item8v {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#item8p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#item8Al {
  font-size: 22px;
  color: red;
}
#item8text {
  display: flex;
  font-size: 26px;
  font-style: italic;
}
/* item9 */
.item9 {
  display: block;
  margin-top: 10%;
}
#item9var {
  width: 70%;
  border: 3px solid lightseagreen;
  background-color: lightseagreen;
}
.item9:hover #item9var {
  animation-name: item9Bar;
  animation-duration: 3s;
}

@keyframes item9Bar {
  0% {
    width: 70%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}

#item9v {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140%;
}
#item9p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#item9Al {
  font-size: 22px;
  color: lightseagreen;
}
#item9text {
  display: flex;
  font-size: 26px;
  font-style: italic;
}
/* item10 */
.item10 {
  display: block;
  overflow: hidden;
}
#item10var {
  width: 70%;
  border: 3px solid red;
  background-color: red;
}
.item10:hover #item10var {
  animation-name: item10Bar;
  animation-duration: 3s;
}

@keyframes item10Bar {
  0% {
    width: 70%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}

#item10v {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 140%; */
}
#item10p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#item10Al {
  font-size: 22px;
  color: red;
}
#item10text {
  display: flex;
  font-size: 26px;
  font-style: italic;
}
/* item11 */
.item11 {
  display: block;
  margin-top: -10%;
  overflow: hidden;
}
#item11var {
  width: 70%;
  border: 3px solid red;
}
.item11:hover #item11var {
  animation-name: item1Bar;
  animation-duration: 3s;
}

@keyframes item11Bar {
  0% {
    width: 70%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}

#item11v {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140%;
}
#item11p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#item11Al {
  font-size: 22px;
  color: red;
}
#item11text {
  display: flex;
  font-size: 26px;
  font-style: italic;
}
/* item12 */
.item12 {
  display: block;
  margin-top: 10%;
  overflow: hidden;
}
#item12var {
  width: 70%;
  border: 3px solid red;
  background-color: red;
}
.item12:hover #item12var {
  animation-name: item1Bar;
  animation-duration: 3s;
}

@keyframes item12Bar {
  0% {
    width: 70%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}

#item12v {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140%;
}
#item12p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#item12Al {
  font-size: 22px;
  color: red;
}
#item12text {
  display: flex;
  font-size: 26px;
  font-style: italic;
}
/* item13 */
.item13 {
  display: block;
  margin-top: 10%;
  overflow: hidden;
}
#item13var {
  width: 70%;
  border: 3px solid red;
  background-color: red;
}
.item13:hover #item13var {
  animation-name: item13Bar;
  animation-duration: 3s;
}

@keyframes item13Bar {
  0% {
    width: 70%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}

#item13v {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140%;
}
#item13p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#item13Al {
  font-size: 22px;
  color: red;
}
#item13text {
  display: flex;
  font-size: 26px;
  font-style: italic;
}
/* item14 */
.item14 {
  display: block;
  margin-top: 10%;
  overflow: hidden;
}
#item14var {
  width: 70%;
  border: 3px solid red;
}
.item14:hover #item14var {
  animation-name: item14Bar;
  animation-duration: 3s;
}

@keyframes item14Bar {
  0% {
    width: 70%;
  }
  50% {
    width: 10%;
  }
  100% {
    width: 70%;
  }
}

#item14v {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140%;
}
#item14p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#item14Al {
  font-size: 22px;
  color: red;
}
#item14text {
  display: flex;
  font-size: 26px;
  font-style: italic;
}
/* item15 */
.item15 {
  display: block;
  margin-top: 10%;
}
#item15var {
  width: 70%;
  border: 3px solid red;
}
#item15v {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140%;
}
#item15p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#item15Al {
  font-size: 22px;
  color: red;
}
#item15text {
  display: flex;
  font-size: 30px;
}
